body {
    background-image: url('slike/slika.jpg') !important; 
    background-size: cover; 
    background-repeat: no-repeat; 
    
}


/*  index strana */
.card{
    margin: 0 auto;   /* centriranje */
    margin-top: 200px;  /* margina od vrha */
    max-width: 400px;   /* max sirina kartice */
}

/* data_page strana */
.centrirano {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    
}

.card.mb-3 {
    margin-top: 15px;
}

.form-group{
    padding-bottom: 10px;
}

#cena{
    color: red;
}

#custom-card {
    max-width: 800px;

}
